BEGIN TRY
ALTER TABLE [Orders] DROP COLUMN [VoucherDiscount];
ALTER TABLE [CustomerVoucherFunds] DROP COLUMN [ReservedAmount];
ALTER TABLE [CustomerVoucherTransactions] DROP CONSTRAINT [FK_CustomerVoucherTransactions_Funds];
ALTER TABLE [CustomerVoucherTransactions] DROP CONSTRAINT [FK_CustomerVoucherTransactions_Orders];
DROP TABLE [CustomerVoucherTransactions];
DROP TABLE [CustomerVoucherFunds];
END TRY
BEGIN CATCH
END CATCH
GO

TRUNCATE TABLE [__EFMigrationsHistory];
GO
INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES
('20260615012007_InitialCreate', '8.0.23'),
('20260622160738_AddPayOsAuditFields', '8.0.23'),
('20260622172915_SyncAuditFields', '8.0.23'),
('20260623155341_AddSentimentToReviews', '8.0.23'),
('20260630160313_AddNotificationsTable', '8.0.23'),
('20260701080701_AddMissingPayOsFields', '8.0.23'),
('20260701082851_AddPaymentColumns', '8.0.23');
GO
