BEGIN TRY
ALTER TABLE [Complaints] DROP CONSTRAINT [FK_Complaints_Orders_OrderId];
ALTER TABLE [Complaints] DROP CONSTRAINT [FK_Complaints_Stores_StoreId];
ALTER TABLE [Complaints] DROP CONSTRAINT [FK_Complaints_Users_CustomerId];
ALTER TABLE [ComplaintMessages] DROP CONSTRAINT [FK_ComplaintMessages_Complaints_ComplaintId];
ALTER TABLE [ComplaintMessages] DROP CONSTRAINT [FK_ComplaintMessages_Users_SenderId];
ALTER TABLE [ComplaintHistories] DROP CONSTRAINT [FK_ComplaintHistories_Complaints_ComplaintId];
ALTER TABLE [ComplaintHistories] DROP CONSTRAINT [FK_ComplaintHistories_Users_ActorId];

DROP TABLE [ComplaintMessages];
DROP TABLE [ComplaintHistories];
DROP TABLE [Complaints];
END TRY
BEGIN CATCH
END CATCH
GO
