IF EXISTS (SELECT * FROM sys.columns WHERE object_id = OBJECT_ID(N'[Orders]') AND name = 'VoucherDiscount')
    ALTER TABLE [Orders] DROP COLUMN [VoucherDiscount];
GO
IF EXISTS (SELECT * FROM sys.columns WHERE object_id = OBJECT_ID(N'[CustomerVoucherFunds]') AND name = 'ReservedAmount')
    ALTER TABLE [CustomerVoucherFunds] DROP COLUMN [ReservedAmount];
GO
IF OBJECT_ID(N'[FK_CustomerVoucherTransactions_Funds]', N'F') IS NOT NULL
    ALTER TABLE [CustomerVoucherTransactions] DROP CONSTRAINT [FK_CustomerVoucherTransactions_Funds];
GO
IF OBJECT_ID(N'[FK_CustomerVoucherTransactions_Orders]', N'F') IS NOT NULL
    ALTER TABLE [CustomerVoucherTransactions] DROP CONSTRAINT [FK_CustomerVoucherTransactions_Orders];
GO
IF OBJECT_ID(N'[CustomerVoucherTransactions]', N'U') IS NOT NULL
    DROP TABLE [CustomerVoucherTransactions];
GO
IF OBJECT_ID(N'[CustomerVoucherFunds]', N'U') IS NOT NULL
    DROP TABLE [CustomerVoucherFunds];
GO
